body {
    --brand-blue: #2196F3;
    --brand-black: #212121;
    --brand-grey: #757575;
    --brand-b-grey: #2F303A;
}

.header-section {
    background: #FFFFFF;
}

.upper-logo::after {
    content: "Studio";
    color: black;
}

.lower-logo::after {
    content: "Studio";
    color: white;
}


.upper-logo,
.lower-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--brand-blue);
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--brand-black);
}

.navigation-list a {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.front-section {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: var(--brand-b-grey);
}

.main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
}

.request-button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: var(--brand-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.image {
    width: 370px;
    height: 294px;
}

.nav-studio,
.nav-portofolio,
.header-item {
    color: var(--brand-blue)
}

.header-second-item {
    color: var(--brand-grey)
}

.navigation-portofolio,
.navigation-contacts,
.navigation-studio {
    color: var(--brand-black)
}


.unstyled-list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: var(--brand-blue);
}

.link:focus {
    color: var(--brand-blue);
}

.header-contacts a {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-grey);
}

.button {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: none;

}

.button-on-hover {
    background: var(--brand-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
}


.button:hover {
    border-radius: 4px;
    background: var(--brand-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
}

.button:focus {
    border-radius: 4px;
    background: var(--brand-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
}

.description-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-black);
}

.description-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--brand-grey);
}

.description-section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-black);
}

.image-description-section {
    width: 370px;
    height: 294px;
    background: url(.jpg);
    mix-blend-mode: normal;
}

.team-section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-black);
}

.image-team-section {
    width: 270px;
    height: 260px;
    left: 215px;
    top: 1635px;
    background: url(.jpg);
    border-radius: 0px;
}

.team-card {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-black);
}

.team-card-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-grey)
}

.portofolio-card {
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;

}

.portofolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portofolio-description {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--brand-grey);
}

.footer-section {
    background: var(--brand-b-grey);
}

.adress-contacts a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}

.adress-contacts-adress {
    color: #FFFFFF;
}

.adress-contacts-mail,
.adress-contacts-phone {
    color: rgba(255, 255, 255, 0.6);
}